<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/font-awesome.min.css">
        <link rel="stylesheet" href="./css/main.css">
        <title> Plan Operativo </title>
    </head>
    <body>
        <div class="container">
            <br>
            <button class="btn btn-lg btn-danger"> Salir </button>
            <br><br><br>
            <section class="row col-sm-4 col-sm-offset-4" style="">
                <div class="col-sm-4 col-sm-offset-1" id="plan-operativo">
                    <h2 style="width:200px; text-align:center;">Plan Operativo</h2>
                    <br><br>
                    <form role="form" name="form">
                        <div style="width: 300px;" class="form-group">
                            <label> Nombre: </label>
                            <input type="text" autofocus="true" class="form-control" id="TxtNombre" placeholder=" Agrega un nombre al plan "/>
                        
                        <div class="form-group">
                            <br>
                            <label> Area : </label>
                            <br>
                            <select class="form-control">
                                <option> ---- Escoga una area ---- </option>
                                <option> area 1</option>
                                <option> area 2</option>
                            </select>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-info"> Crear Plan Operativo </button>

                    </form>
                </div>
            </section>   
    </body>
</html>