<!DOCTYPE html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Bienvenido</title>
		<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<br>
		<header>
			<a href="../../index.html" class="pull-right btn btn-danger btn-lg" id="btnSalir">Salir</a>
			<br>
			<br>
			<h1>Planes estratégicos: <a href="create.html" class="pull-right btn btn-primary btn-lg">+ Crear</a></h1>
			<hr>
		</header>		
		<br>
		<section class="row">
			<form class="col-sm-12">
				<fieldset class="form-group">
					<div class="row">
						<div class="col-sm-1">
							<label class="label-control" >Buscar: </label>
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control" autofocus="true" id="txtSearch" placeholder="Buscando...">
						</div>			
					</div>					
					<br>
				</fieldset>
				<br>
				<fieldset>
					<table class="table table-stripped table-responsive">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre</th>
								<th>Fecha de Vigencia</th>
								<th>Fecha de Término</th>
								<th>Año de inicio</th>
								<th>Año de término</th>
								<th>Aprobado por</th>
								<th>Descripción</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody id="table">
						</tbody>
					</table>
				</fieldset>
			</form>
		</section>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="../../static/js/strategy.js"></script>
</body>
</html>